# Ignorar pastas de dependências
node_modules
.vscode
.git
.gitignore

# Ignorar arquivos de configuração e build
tsconfig.json
*.map
*.ts
*.log
*.vsix
package-lock.json

# Ignorar exemplos e testes
test.cpp
test2.cpp
tests/**
